<%if @article.errors.any?%>
  <h2>Please address following issues &amp; resubmit</h2>
  <ul>
  <%@article.errors.full_messages.each do |msg|%>
      <li><%=msg%></li>
  <%end%>
  </ul>
<%end%>
<div class="row"><!--form wrapper-->
  <div class="col-xs-12"><!--form row-->
  
  <%= form_for(@article, :html =>{class:"form-horizontal",role:"form"}) do |f|%>
    
    <div class="form-group"><!--title form-group-->
      <div class="control-label col-sm-2"><!--title control-label-->
        <%=f.label :title%>
      </div><!--title control-label-->
      <div class="col-sm-8"><!--title form-control-->
        <%=f.text_field :title, class:"form-control", placeholder: "Article Title", autofocus: true %>
      </div><!--title form-control-->
    </div><!--title form-group-->
    
    <div class="form-group"><!--description form-group-->
      <div class="control-label col-sm-2"><!--description control-label-->
        <%=f.label :description%>
      </div><!--description control-label-->
      <div class="col-sm-8"><!--description form-control-->
        <%=f.text_area :description, rows:10, class:"form-control", placeholder: "Article Content"%>
      </div><!--description form-control-->
    </div><!--description form-group-->

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <%=f.submit class:"btn btn-primary btn-lg"%>
      </div>
    </div>
  <%end%>
    <div class="col-xs-4 col-xs-offset-5">
      
      <%=link_to '[ Cancel & return to List ]', articles_path%>
    </div>
  </div>
</div><!--form wrapper-->
